{
	"tabWidth": 2,
	"printWidth": 180,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"plugins": [
		"svelte"
	],
	"svelteSortOrder": "markup-scripts-styles",
	"svelteStrictMode": false,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": true
}
